.article {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex: 1;
	width: 100%;

	@include media-breakpoint-down(lg) {
		flex-direction: column;
	}

	&-content {
		// margin: 80px 0;
		width: 100%;
		height: auto;
	}

	&.reverse {
		flex-direction: row-reverse;

		@include media-breakpoint-down(lg) {
			flex-direction: column;
		}
	}

	&-info {
		// margin-left: 50px;
		padding: 125px 0;
		width: 570px;
		margin-left: 220px;

		@include media-breakpoint-down(lg) {
			padding: 80px 0;
			margin-left: 100px;
		}

		@include media-breakpoint-down(sm) {
			margin-left: 0px;
			padding: 80px 0;
		}

		&.right {
			margin-left: 120px;

			@include media-breakpoint-down(lg) {
				margin-left: 100px;
			}

			@include media-breakpoint-down(sm) {
				margin-left: 30px;
			}
		}
	}

	&-title {
		font-size: 48px;
		font-family: $fontPrimary;
		font-weight: 400;
		letter-spacing: 3px;
		padding: 0;
		margin: 0;

		&::after {
			content: '';
			display: block;
			margin-top: 40px;
			width: 100px;
			height: 3px;
			background: linear-gradient(to right, $rose 70%, map-get($indigo, light));
			padding: 0;

			@include media-breakpoint-down(lg) {
				margin-top: 20px;
			}
		}

		@include media-breakpoint-down(lg) {
			font-size: 28px;
		}
	}

	&-description {
		margin: 0;
		margin-top: 40px;
		font-family: $fontSecondary;
		font-size: 18px;
		color: map-get($gray, darken);
		font-weight: 300;
		padding: 0;
		width: 570px;

		@include media-breakpoint-down(lg) {
			max-width: 630px;
			font-size: 15px;
		}
	}

	&-image {
		height: 570px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		object-fit: cover;
		width: 100%;

		@include media-breakpoint-down(lg) {
			height: 500px;
		}
	}
}
