.article {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex: 1;
	width: 100%;
	height: auto;

	@include media-breakpoint-down(lg) {
		flex-direction: column;
	}

	&-content {
		width: 100%;
	}

	&.reverse {
		flex-direction: row-reverse;

		@include media-breakpoint-down(lg) {
			flex-direction: column;
		}
	}

	&-info {
		padding-top: 125px;
		padding-bottom: 125px;
		padding-left: 0;
		padding-right: 0;
		margin-right: 172px;
		margin-left: 217px;
		max-width: 900px;
		// width: 600px;

		@include media-breakpoint-down(xl) {
			margin: 0;
			padding-top: 80px;
			padding-bottom: 80px;
			padding-right: 40px;
			padding-left: 40px;
			// width: auto;
		}
		@include media-breakpoint-down(lg) {
			margin: 0;
			padding-top: 80px;
			padding-bottom: 80;
			margin-left: 100px;
			margin-right: 100px;
			// width: auto;
		}

		@include media-breakpoint-down(sm) {
			padding-top: 80px;
			padding-bottom: 80px;
			padding-right: 20px;
			padding-left: 20px;
			margin: 0;
			// width: auto;
		}

		&.right {
			margin-left: 163px;
			// padding-left: 120px;

			@include media-breakpoint-down(xl) {
				margin-left: 60px;
			}
			@include media-breakpoint-down(lg) {
				margin-left: 0;
				margin-left: 100px;
				margin-right: 100px;
			}

			@include media-breakpoint-down(sm) {
				// padding-left: 20px;
				margin: 0;
			}
		}
	}

	&-title {
		font-size: 48px;
		font-family: $fontPrimary;
		color: $black;
		font-weight: 400;
		letter-spacing: 3px;
		padding: 0;
		margin: 0;

		@include media-breakpoint-down(xl) {
			font-size: 28px;
		}

		&::after {
			content: '';
			display: block;
			margin-top: 40px;
			margin-bottom: 40px;
			width: 100px;
			height: 3px;
			background: linear-gradient(to right, $rose 70%, map-get($indigo, light));
			padding: 0;

			@include media-breakpoint-down(xl) {
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
	}

	&-description {
		margin: 0;
		font-family: $fontSecondary;
		font-size: 18px;
		color: map-get($gray, darken);
		font-weight: 300;
		padding: 0;
		max-width: 900px;
		line-height: 1.6;
		margin-bottom: 25px;

		@include media-breakpoint-down(xl) {
			width: 360px;
			font-size: 16px;
		}
		@include media-breakpoint-down(lg) {
			// width: 130px;
			font-size: 15px;
		}
		@include media-breakpoint-down(sm) {
			margin-top: 10px;
			width: auto;
			font-size: 15px;
			// width: 335px;
		}
	}

	&-image {
		height: 570px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		object-fit: cover;
		width: 100%;

		@include media-breakpoint-down(xl) {
			height: 466.18px;
		}
		@include media-breakpoint-down(lg) {
			height: 500px;
		}

		@include media-breakpoint-down(sm) {
			height: 300px;
		}
	}
}
