.banner {
	width: 100%;
	padding-top: 125px;
	padding-bottom: 125px;
	background-color: map-get($gray, light);

	@include media-breakpoint-down(xl) {
		padding-top: 80;
		padding-bottom: 80;
	}

	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-left: 50px;
		padding-right: 50px;
		gap: 200px;

		@include media-breakpoint-down(lg) {
			justify-content: flex-start;
			padding-left: 10px;
			padding-right: 10px;
			gap: 20px;
		}

		@include media-breakpoint-down(sm) {
			padding: 0;
			flex-direction: column;
		}

		&-consultation {
			font-size: 48px;
			font-family: $fontPrimary;
			font-weight: 400;
			color: $yellow;
			line-height: 1.375;
			text-transform: uppercase;
			letter-spacing: 0.06em;
			margin-bottom: 20px;

			@include media-breakpoint-down(xl) {
				font-size: 28px;
			}

			@include media-breakpoint-down(sm) {
				font-size: 24px;
				text-align: center;
			}
		}

		&-text {
			font-size: 24px;
			font-family: $fontSecondary;
			margin: 0;
			color: $white;
			font-weight: 300;
			line-height: 1.55556;

			@include media-breakpoint-down(xl) {
				// width: 400px;
				font-size: 19px;
				width: 500px;
			}
			@include media-breakpoint-down(sm) {
				// max-width: 500px;
				width: auto;
				text-align: center;
				font-size: 18px;
			}
		}
	}

	&-title {
		padding: 0 15px;
		// padding-left: ;
		text-align: center;
		text-transform: uppercase;
		font-size: 48px;
		font-family: $fontPrimary;
		font-weight: 400;
		color: $black;
		line-height: 1.375;
		letter-spacing: 0.06em;
		margin-bottom: 0;

		@include media-breakpoint-down(lg) {
			font-size: 28px;
		}

		&::after {
			content: '';
			display: block;
			width: 100px;
			height: 3px;
			background: linear-gradient(to right, $rose 70%, map-get($indigo, light));
			margin-top: 40px;
			margin-left: auto;
			margin-right: auto;
		}

		&.line-light {
			color: $white;
			&::after {
				content: '';
				display: block;
				width: 100px;
				height: 1px;
				background: linear-gradient(to right, $rose 70%, map-get($indigo, light));
				margin-top: 40px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&.image {
		background-image: url('https://livedemo00.template-help.com/wt_62466_v3/images/bg-09.jpg');
		background-size: cover;
		background-position: center center;
	}

	&.background {
		padding: 100px 0;
		background: linear-gradient(to right, map-get($indigo, dark) 20%, $rose);

		@include media-breakpoint-down(xl) {
			padding: 60px 10px;
		}
	}
}
