.button {
	display: inline-block;
	font-family: $fontPrimary;
	font-size: 18px;
	font-weight: 400;
	border-radius: 30px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: $rose;
	color: $white;
	padding: 14px 38px;
	margin-top: 25px;

	&:hover {
		background-color: map-get($indigo, light);
		color: $white;
		transition: ease-in-out 0.5s;
		cursor: pointer;
		border: none;
	}

	&.primary {
		border: none;
		padding: 14px 60px;
	}

	&.secondary {
		padding: 14px 60px;
		background-color: $white;
		// border: 1px solid map-get($gray, regular);
		color: $black;

		&:hover {
			background-color: map-get($indigo, light);
			color: $white;
			transition: all ease-in-out 0.5s;
			cursor: pointer;
			border: none;
		}
	}

	&.outline {
		width: 230px;
		background: transparent;
		border: 2px solid $white;
		text-align: center;
		&:hover {
			background-color: map-get($indigo, darken);
			border: none;
		}

		@include media-breakpoint-down(lg) {
			width: 210px;
		}
	}

	&.footer {
		border: none;
		margin-top: 0;
		margin-left: -60px;
		padding: 10px 30px;
	}
}
