.card {
	// width: 270px;
	width: 366px;
	height: 365px;
	padding: 40px 35px 45px;
	border: 0.5px solid map-get($gray, semiDark);
	border-radius: 8px;
	// margin: 0 auto;

	@include media-breakpoint-down(lg) {
		width: 320px;
		height: 280px;
		padding: 20px 15px;
	}

	@include media-breakpoint-down(sm) {
		// width: 356px;
		padding: 20px 15px;
		max-height: 290px;
	}

	&:hover {
		background-color: map-get($gray, semiLight);
		border: 1px solid map-get($gray, semiLight);
		transition: ease-in-out 0.5s;
	}

	&-heading {
		font-size: 19px;
		font-family: $fontSecondary;
		margin-top: 15px;
		margin-bottom: 30px;
		color: $black;

		&::after {
			content: '';
			display: block;
			margin-top: 30px;
			width: 100%;
			height: 1px;
			background: map-get($gray, semiDark);

			// @include media-breakpoint-down(lg) {
			// 	margin-top: 20px;
			// }
		}
	}

	&-text {
		font-size: 16px;
		font-family: $fontSecondary;
		font-weight: 300;
		color: map-get($gray, darken);

		@include media-breakpoint-down(lg) {
			font-size: 15px;
		}
	}
}
