.Footer {
	padding: 40px 30px;
	background: $black;
	color: $white;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
	height: auto;

	&-titles {
		font-family: $fontPrimary;
		text-transform: uppercase;
		font-size: 19px;
		font-weight: 400;
		letter-spacing: 2px;
	}

	&-content {
		width: 100%;
		padding: 0 10px;
		// padding: 0 60px;
		margin-top: 40px;

		@include media-breakpoint-down(sm) {
			margin-top: 0;
		}
	}

	&About {
		padding: 0;
		// width: 100%;
		padding-right: 20px;
		margin-top: 20px;
		margin-bottom: 0;
		font-family: $fontSecondary;
		font-size: 16px;
		font-weight: 300;

		@include media-breakpoint-down(sm) {
			margin-bottom: 40px;
		}
	}

	&Gallery {
		// padding: 0 10px;
		padding: 0;
		margin-top: 20px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 15px;
		grid-row-gap: 15px;

		@include media-breakpoint-down(sm) {
			padding: 0;
			margin-bottom: 40px;
		}

		&.imageContainer {
			position: relative;
			display: inline-block;
			width: 80px;
			padding: 0;
			margin: 0;

			.after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: none;
				color: #fff;
			}

			&:hover .after {
				display: block;
				background: rgba(0, 0, 0, 0.6);
			}
		}

		&-image {
			margin: 0;
			padding: 0;
			width: 80px;
			height: 80px;
			display: block;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			object-fit: cover;
			transition: 0.5s ease;
			backface-visibility: hidden;
			// position: absolute;
		}

		&.middle {
			transition: 0.5s ease;
			opacity: 1;
			position: absolute;
			top: 50%;
			left: 70%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			text-align: center;
		}
		&.plus {
			background-color: #04aa6d;
			color: white;
			font-size: 26px;
			// padding: 50% 50%;
		}
	}

	&Contact {
		margin-top: 20px;
		padding: 0;
		padding-right: 40px;

		@include media-breakpoint-down(sm) {
			margin-bottom: 40px;
		}

		&-items {
			margin-top: 0;
			margin-bottom: 0;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			margin-top: 0;
			margin-bottom: 20px;
		}

		&.icon {
			margin: 0;
			padding: 0 6px;
			color: $rose;
		}

		&.text {
			margin-top: 0;
			margin-bottom: 0;
			padding: 0 6px;
			text-decoration: none;
			color: $white;
			font-size: 16px;
			font-family: $fontSecondary;
			font-weight: 300;
			transition: color ease-in-out 0.2s;
			// max-width: 300px;

			&:hover {
				color: map-get($indigo, light);
				cursor: pointer;
			}
		}

		&-socials {
			margin-top: 35px;
			display: flex;
			padding-left: 6px;
			justify-content: space-between;
			align-items: flex-start;
			max-width: 180px;
		}
		&-link {
			margin: 0;
			color: map-get($gray, darken);

			&.facebook {
				&:hover {
					color: $facebookHover;
				}
			}
			&.twitter {
				&:hover {
					color: $twitterHover;
				}
			}
			&.instagram {
				&:hover {
					color: $instagramHover;
				}
			}
			&.google {
				&:hover {
					color: $googleHover;
				}
			}
			&.linkedin {
				&:hover {
					color: $linkedinHover;
				}
			}
		}
	}

	&News {
		margin-top: 20px;
		width: 100%;

		&-form {
			display: flex;
			justify-content: center;
			align-items: center;
			// width: 150px;
		}

		&-text {
			font-size: 16px;
			font-family: $fontSecondary;
			font-weight: 300;
		}

		&-input {
			padding: 10px 18px;
			padding-left: 25px;
			border: none;
			border-radius: 35px;
		}
	}

	&Nav {
		margin-top: 30px;
		padding: 30px 10px;
		border-top: 1px solid map-get($gray, darken);
		padding-bottom: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		flex: 1;
		@include media-breakpoint-down(lg) {
			// flex-direction: column;
		}

		&-navbar {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			// width: 100%;

			@include media-breakpoint-down(lg) {
				width: 100%;
			}
			@include media-breakpoint-down(sm) {
				// display: hidden;
				// opacity: 0;
			}
		}
		&.link {
			border: none;
			margin: 0;
			padding: 0;
			text-decoration: none;
			color: map-get($gray, semiDark);
			font-family: $fontPrimary;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 2px;
			padding-right: 25px;
		}

		&-copyright {
			border: none;
			// width: 100%;
			text-align: end;
			margin-bottom: 0;

			@include media-breakpoint-down(lg) {
				margin-top: 20px;
			}
		}
		&.text {
			width: 100%;
			border: none;
			margin: 0;
			padding: 0;
			text-align: end;
			color: map-get($gray, darken);
			font-family: $fontSecondary;
			font-weight: 300;
		}
	}
}
