.Hero {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	background-color: map-get($gray, light);

	@include media-breakpoint-down(lg) {
		flex-direction: column;
	}

	&-image {
		width: 100%;
		height: 768px;
		background-image: url('https://livedemo00.template-help.com/wt_62466_v3/images/landing-environment-1-960x870.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		@include media-breakpoint-down(xl) {
			width: 100%;
			height: 510px;
		}

		@include media-breakpoint-down(sm) {
			height: 300px;
		}
	}

	&-info {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		font-family: $fontSecondary;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	&-title {
		max-width: 340px;
		width: 100%;
		font-size: 48px;
		font-family: $fontPrimary;
		color: $black;
		font-weight: 400;
		text-align: center;
		line-height: 1.45;
		letter-spacing: 2px;
		margin-bottom: 0;

		@include media-breakpoint-down(xl) {
			width: 230px;
			font-size: 28px;
		}

		@include media-breakpoint-down(sm) {
			font-size: 24px;
			width: 180px;
		}

		.lighter {
			font-weight: 200;
		}

		&::after {
			content: '';
			display: block;
			width: 100px;
			height: 1px;
			background: linear-gradient(to right, $rose 70%, map-get($indigo, light));
			margin-top: 40px;
			margin-bottom: 40px;
			margin-left: auto;
			margin-right: auto;
			opacity: 0.25;

			@include media-breakpoint-down(xl) {
				margin-bottom: 10px;
			}

			@include media-breakpoint-down(lg) {
				margin-top: 30px;
			}
		}
	}

	&-description {
		text-align: center;
		font-size: 24px;
		font-family: $fontSecondary;
		font-weight: 300;
		max-width: 700px;
		color: $black;
		width: 600px;
		margin-bottom: 25px;

		@include media-breakpoint-down(xl) {
			margin-top: 10px;
			font-size: 19px;
			width: 700px;
			line-height: 1.41667;
			width: 500px;
		}
		@include media-breakpoint-down(sm) {
			margin-top: 10px;
			width: 350px;
		}
	}
}
