/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.9); /* Fallback color */

	/* Modal Content (image) */
	&-content {
		margin: auto;
		display: block;
		width: 720px;
		height: 720px;
		opacity: 1;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		object-fit: cover;
		-webkit-animation-name: zoom;
		-webkit-animation-duration: 0.6s;
		animation-name: zoom;
		animation-duration: 0.6s;

		@include media-breakpoint-down(sm) {
			margin-top: 140px;
			width: 320px;
			height: 320px;
		}
	}

	/* Caption of Modal Image */
	&-caption {
		margin: auto;
		display: block;
		width: 100px;
		height: 100px;
		text-align: center;
		color: white;
		font-weight: 700;
		font-size: 1em;
		margin-top: 32px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		-webkit-animation-name: zoom;
		-webkit-animation-duration: 0.6s;
		animation-name: zoom;
		animation-duration: 0.6s;
	}

	@-webkit-keyframes zoom {
		from {
			-webkit-atransform: scale(0);
		}
		to {
			-webkit-transform: scale(1);
		}
	}

	@keyframes zoom {
		from {
			transform: scale(0);
		}
		to {
			transform: scale(1);
		}
	}

	/* The Close Button */
	&-close {
		position: absolute;
		top: 15px;
		right: 35px;
		color: #f1f1f1;
		font-size: 40px;
		font-weight: bold;
		transition: 0.3s;

		&:hover,
		&:focus {
			color: #bbb;
			text-decoration: none;
			cursor: pointer;
		}
	}
}

// .modal-close:hover,
// .modal-close:focus {
// 	color: #bbb;
// 	text-decoration: none;
// 	cursor: pointer;
// }
