// fuentes
$fontPrimary: 'Oswald', sans-serif;
$fontSecondary: 'Lato', sans-serif;

// colores
$white: #ffffff;
$black: #29293a;
$rose: #ed1c94;
$indigo: (
	darken: #6a0da6,
	dark: #6d0eb1,
	light: #981df0,
);
$yellow: #ffec17;
$gray: (
	darken: #838386,
	semiDark: #c2c2c3,
	regular: #ededed,
	light: #f2f3f9,
	semiLight: #f2f3f9,
);
$facebookHover: #3e5a86;
$twitterHover: #008ee0;
$instagramHover: #c13584;
$googleHover: #b53418;
$linkedinHover: #116584;
