.article {
	display: flex;
	justify-content: center;
	align-items: center;

	&-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 0 110px;
		// padding: 80px 150px 80px 50px;
		height: auto;

		&.heading {
			font-size: 48px;
			font-family: $fontPrimary;
			font-weight: 400;
			letter-spacing: 2px;
			padding: 0;

			&::after {
				content: '';
				display: block;
				margin: 40px 0px;
				width: 20%;
				height: 3px;
				background: linear-gradient(to right, $rose 70%, map-get($indigo, light));
				padding: 0;
			}
		}

		&.text {
			font-family: $fontSecondary;
			font-size: 18px;
			color: map-get($gray, darken);
			font-weight: 300;
			padding: 0;
		}
	}

	&-image {
		// height: 350px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: 550px;
	}
}
