.Home {
	// width: 100%;

	&Contact {
		background: linear-gradient(to right, map-get($indigo, dark) 20%, $rose);
		padding: 45px 0;
		width: 100%;

		&-content {
			margin: 0 auto;
			display: block;
			text-align: center;
			color: $white;
			padding: 0 10px;
		}

		&-hot {
			font-size: 16px;
			padding: 5px 18px;
			background-color: map-get($indigo, light);
			font-weight: 700;
			margin-right: 18px;
		}

		&-brave {
			font-size: 24px;
			font-family: $fontSecondary;
			font-weight: 300;

			@include media-breakpoint-down(xl) {
				font-size: 19px;
			}
		}

		&-link {
			text-decoration: none;
			font-size: 24px;
			color: $yellow;
			font-family: $fontSecondary;
			font-weight: 700;

			&:hover {
				color: $white;
				transition: ease-in-out 0.3s;
				cursor: pointer;
			}

			@include media-breakpoint-down(xl) {
				font-size: 19px;
			}
		}
	}

	&Cards {
		padding-top: 125px;
		padding-bottom: 125px;
		width: 100%;

		@include media-breakpoint-down(xl) {
			// gap: 40px;
			// justify-content: space-between;
			padding: 80px 0;
		}

		@include media-breakpoint-down(sm) {
			justify-content: center;
			padding: 60px 0;
		}
	}

	&Panel {
		background-color: map-get($gray, light);
		padding-top: 125px;
		padding-bottom: 125px;
		width: 100%;

		@include media-breakpoint-down(lg) {
			padding-top: 80px;
			padding-bottom: 80px;
		}

		.panel-container {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			// margin: 0 180px;
			margin-left: 218px;
			margin-right: 245px;
			width: 1450px;

			@include media-breakpoint-down(xl) {
				flex-direction: column;
				padding: 0 62px;
				align-items: center;
				margin: 0;
				width: 100%;
				gap: 50px;
			}
			@include media-breakpoint-down(sm) {
				padding: 0 20px;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				margin: 0;
				width: 100%;
			}
		}

		&-image {
			background-image: url('https://livedemo00.template-help.com/wt_62466_v3/images/landing-environment-2-720x459.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			object-fit: cover;
			// width: 100%;
			width: 720px;
			height: 459px;

			@include media-breakpoint-down(xl) {
				order: 2;
				width: 645px;
				height: 411.19px;
			}

			@include media-breakpoint-down(sm) {
				width: 343px;
				height: 218px;
			}
		}

		&-info {
			padding-right: 0px;
			// width: 100%;

			@include media-breakpoint-down(lg) {
				// margin-bottom: 50px;
				margin: 0 auto;
				padding-left: 0px;
				// order: 1;
			}

			@include media-breakpoint-down(sm) {
				margin: 0 auto;
				padding-left: 0px;
			}
		}

		&-title {
			font-family: $fontPrimary;
			font-size: 48px;
			color: $black;
			letter-spacing: 2px;
			font-weight: 400;
			margin-bottom: 0;

			@include media-breakpoint-down(lg) {
				font-size: 28px;
			}

			&::after {
				content: '';
				display: block;
				width: 100px;
				height: 3px;
				background: linear-gradient(to right, $rose 70%, map-get($indigo, light));
				margin-top: 40px;
				margin-bottom: 40px;

				@include media-breakpoint-down(lg) {
					margin-top: 20px;
					margin-bottom: 10px;
				}
			}
		}

		&-description {
			font-family: $fontSecondary;
			font-size: 24px;
			color: $black;
			font-weight: 300;
			margin-bottom: 20px;
			width: 550px;

			@include media-breakpoint-down(lg) {
				font-size: 19px;
				width: 660px;
			}

			@include media-breakpoint-down(sm) {
				width: 340px;
			}

			&.light {
				font-size: 18px;
				color: map-get($gray, darken);
				margin-bottom: 25px;

				@include media-breakpoint-down(lg) {
					font-size: 15px;
				}
			}
		}
	}
}
